<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间：映射文件所在目录.名称 -->
<mapper namespace="com.vision.mapper.ppo.PpoAppointmentMapper">
        <select id="findAppointmentList" resultType="PpoAppointment">
            select * from ppo_appointment order  by gmt_modified  desc  limit #{startIndex},#{pageSize}
        </select>
</mapper>